<nav>
  <div class="nav__logo">Smart Booking</div>
  <div class="header-menu">
    <div class="user">
      <div class="bg-img">
        <img
          src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_1280.png"
          alt="client"
        />
      </div>
      <span class="las la-power-off"></span>
      <span routerLink="/login">Connexion</span>
    </div>
  </div>
</nav>

<header class="section__container header__container">
  <div class="header__image__container">
    <div class="header__content">
      <h1>Profitez de vos vacances de rêve</h1>
      <p>Réservez hôtels, vols et séjours aux prix les plus bas.</p>
    </div>

    <form class="search-form" (ngSubmit)="onSearch()">
      <input
        type="text"
        [(ngModel)]="searchLocation"
        name="location"
        placeholder="Où voulez-vous aller ?"
        required
      />
      <button class="btn-search" type="submit">
        <span class="search-icon">Rechercher</span>
      </button>
    </form>
  </div>
</header>

<!-- Autres sections ici -->

<section class="main-content py-12 bg-gray-50">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-8 text-gray-800">
      Available Accommodations
    </h2>
    <div
      class="hebergement__cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"
    >
      <div
        *ngFor="let hebergement of filteredHebergements"
        class="hebergement__card bg-white shadow-lg rounded-lg overflow-hidden transition-transform transform hover:scale-105"
      >
        <div
          class="w-full h-56 bg-cover bg-center"
          [ngStyle]="{
            'background-image': 'url(' + getFirstImage(hebergement.id) + ')'
          }"
        ></div>
        <div class="hebergement__details p-6">
          <h3>
            <a [routerLink]="['/hotel-details', hebergement.id]">
              {{ hebergement.nom }}
            </a>
          </h3>
          <p class="hebergement__price text-lg font-bold text-gray-800 mb-4">
            {{ hebergement.prix | currency }}
          </p>
          <p class="hebergement__location text-gray-600 mb-4">
            <i class="fas fa-map-marker-alt mr-2"></i>
            {{ hebergement.localisation }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client">
  <div class="section__container client__container">
    <h2 class="section__header">Ce que disent nos clients</h2>
    <div class="client__grid">
      <div class="client__card">
        <img
          src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_1280.png"
          alt="client"
        />
        <p>
          Le processus de réservation était fluide, et la confirmation
          instantanée. Je recommande fortement WDM&Co pour des réservations sans
          tracas.
        </p>
      </div>
      <div class="client__card">
        <img
          src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_1280.png"
          alt="client"
        />
        <p>
          Le site a fourni des informations détaillées sur les hôtels, y compris
          les équipements et les photos, ce qui m'a aidé à prendre une décision
          éclairée.
        </p>
      </div>
      <div class="client__card">
        <img
          src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_1280.png"
          alt="client"
        />
        <p>
          J'ai pu réserver une chambre en quelques minutes, et l'hôtel a dépassé
          mes attentes. J'apprécie l'efficacité et la fiabilité de WDM&Co.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section__container">
  <div class="reward__container">
    <p>100+ codes de réduction</p>
    <h4>
      Rejoignez nos récompenses et découvrez des réductions incroyables sur vos
      réservations
    </h4>
    <button class="reward__btn">Rejoindre</button>
  </div>
</section>

<footer class="footer">
  <div class="section__container footer__container">
    <div class="footer__col">
      <h3>WDM&Co</h3>
      <p>
        WDM&Co est un site de réservation d'hôtels de premier plan offrant une
        manière simple et pratique de trouver et de réserver des hébergements
        dans le monde entier.
      </p>
      <p>
        Avec une interface conviviale et une large sélection d'hôtels, WDM&Co
        vise à offrir une expérience sans stress aux voyageurs recherchant le
        séjour parfait.
      </p>
    </div>
    <div class="footer__col">
      <h4>Entreprise</h4>
      <p>À Propos</p>
      <p>Notre Équipe</p>
      <p>Blog</p>
      <p>Réserver</p>
      <p>Nous Contacter</p>
    </div>
    <div class="footer__col">
      <h4>Légal</h4>
      <p>FAQs</p>
      <p>Conditions Générales</p>
      <p>Polit</p>
    </div>
  </div>
</footer>
